<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dp.hgdb.auto.ProteinLevelMapper">
  <resultMap id="BaseResultMap" type="dp.hgdb.auto.ProteinLevel">
    <id column="Protein_id" jdbcType="INTEGER" property="proteinId" />
    <result column="Exp_id" jdbcType="INTEGER" property="expId" />
    <result column="Accession" jdbcType="VARCHAR" property="accession" />
    <result column="Repeat1" jdbcType="DECIMAL" property="repeat1" />
    <result column="Repeat2" jdbcType="DECIMAL" property="repeat2" />
    <result column="Repeat3" jdbcType="DECIMAL" property="repeat3" />
    <result column="Ratio" jdbcType="DECIMAL" property="ratio" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Protein_id, Exp_id, Accession, Repeat1, Repeat2, Repeat3, Ratio
  </sql>
  <select id="selectByExample" parameterType="dp.hgdb.auto.ProteinLevelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from protein_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from protein_level
    where Protein_id = #{proteinId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from protein_level
    where Protein_id = #{proteinId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="dp.hgdb.auto.ProteinLevelExample">
    delete from protein_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="dp.hgdb.auto.ProteinLevel">
    insert into protein_level (Protein_id, Exp_id, Accession, 
      Repeat1, Repeat2, Repeat3, 
      Ratio)
    values (#{proteinId,jdbcType=INTEGER}, #{expId,jdbcType=INTEGER}, #{accession,jdbcType=VARCHAR}, 
      #{repeat1,jdbcType=DECIMAL}, #{repeat2,jdbcType=DECIMAL}, #{repeat3,jdbcType=DECIMAL}, 
      #{ratio,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="dp.hgdb.auto.ProteinLevel">
    insert into protein_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proteinId != null">
        Protein_id,
      </if>
      <if test="expId != null">
        Exp_id,
      </if>
      <if test="accession != null">
        Accession,
      </if>
      <if test="repeat1 != null">
        Repeat1,
      </if>
      <if test="repeat2 != null">
        Repeat2,
      </if>
      <if test="repeat3 != null">
        Repeat3,
      </if>
      <if test="ratio != null">
        Ratio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proteinId != null">
        #{proteinId,jdbcType=INTEGER},
      </if>
      <if test="expId != null">
        #{expId,jdbcType=INTEGER},
      </if>
      <if test="accession != null">
        #{accession,jdbcType=VARCHAR},
      </if>
      <if test="repeat1 != null">
        #{repeat1,jdbcType=DECIMAL},
      </if>
      <if test="repeat2 != null">
        #{repeat2,jdbcType=DECIMAL},
      </if>
      <if test="repeat3 != null">
        #{repeat3,jdbcType=DECIMAL},
      </if>
      <if test="ratio != null">
        #{ratio,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dp.hgdb.auto.ProteinLevelExample" resultType="java.lang.Long">
    select count(*) from protein_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update protein_level
    <set>
      <if test="record.proteinId != null">
        Protein_id = #{record.proteinId,jdbcType=INTEGER},
      </if>
      <if test="record.expId != null">
        Exp_id = #{record.expId,jdbcType=INTEGER},
      </if>
      <if test="record.accession != null">
        Accession = #{record.accession,jdbcType=VARCHAR},
      </if>
      <if test="record.repeat1 != null">
        Repeat1 = #{record.repeat1,jdbcType=DECIMAL},
      </if>
      <if test="record.repeat2 != null">
        Repeat2 = #{record.repeat2,jdbcType=DECIMAL},
      </if>
      <if test="record.repeat3 != null">
        Repeat3 = #{record.repeat3,jdbcType=DECIMAL},
      </if>
      <if test="record.ratio != null">
        Ratio = #{record.ratio,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update protein_level
    set Protein_id = #{record.proteinId,jdbcType=INTEGER},
      Exp_id = #{record.expId,jdbcType=INTEGER},
      Accession = #{record.accession,jdbcType=VARCHAR},
      Repeat1 = #{record.repeat1,jdbcType=DECIMAL},
      Repeat2 = #{record.repeat2,jdbcType=DECIMAL},
      Repeat3 = #{record.repeat3,jdbcType=DECIMAL},
      Ratio = #{record.ratio,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="dp.hgdb.auto.ProteinLevel">
    update protein_level
    <set>
      <if test="expId != null">
        Exp_id = #{expId,jdbcType=INTEGER},
      </if>
      <if test="accession != null">
        Accession = #{accession,jdbcType=VARCHAR},
      </if>
      <if test="repeat1 != null">
        Repeat1 = #{repeat1,jdbcType=DECIMAL},
      </if>
      <if test="repeat2 != null">
        Repeat2 = #{repeat2,jdbcType=DECIMAL},
      </if>
      <if test="repeat3 != null">
        Repeat3 = #{repeat3,jdbcType=DECIMAL},
      </if>
      <if test="ratio != null">
        Ratio = #{ratio,jdbcType=DECIMAL},
      </if>
    </set>
    where Protein_id = #{proteinId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dp.hgdb.auto.ProteinLevel">
    update protein_level
    set Exp_id = #{expId,jdbcType=INTEGER},
      Accession = #{accession,jdbcType=VARCHAR},
      Repeat1 = #{repeat1,jdbcType=DECIMAL},
      Repeat2 = #{repeat2,jdbcType=DECIMAL},
      Repeat3 = #{repeat3,jdbcType=DECIMAL},
      Ratio = #{ratio,jdbcType=DECIMAL}
    where Protein_id = #{proteinId,jdbcType=INTEGER}
  </update>
</mapper>